



/* تنسيقات الرئيسي */
main {
    flex: 1;
    padding: 20px;
}



#errorMessage {
    display: none;
    color: red; /* لون النص */
    text-align: center;
    margin-top: 20px;
}

